.myheader {
  position: fixed;
  top: 0; /* Stick it to the top */
  min-height: 70px;
  width: 100vw;
  display: grid;
  grid-template-areas: "logo nav";
  /* Cosmetics */
  /* original background-color: #393857;*/
  /*background-color: #1b621f;*/
  background-color: #15213e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.h1 {
  margin-left: 40px;
  color: white;
}

.Nav {
  display: grid;
  grid-area: nav;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
  padding: 3px;
}

.buttonnav {
  background: white;
  border-radius: 8px;
  color: #15213e;
  font-weight: 900;
}

.buttonnav:hover {
  cursor: pointer;
  background: gray;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
@media (max-width: 450px) {
  .Nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    padding: 3px;
  }
  .h1 {
    font-size: x-larger;
  }
}

/*
@media (max-width: 600px) {
  .TopBarLogo {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .TopBarLogo {
    width: 80px;
    margin: 10px;
  }
}

@media (max-width: 400px) {
  .TopBarLogo {
    width: 70px;
    margin: 5px;
  }
}
*/
